sudo: false
language: go
go:
- 1.10.3

git:
  depth: 1

notifications:
  email: false

script:
  - go get -t -v ./...

deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux